<h1 id="article-title">
	<%- page.title || page.slug.split("/")[page.slug.split("/").length-1] %>
</h1>

<%- partial('_partial/post/meta.ejs') %>

<div id="article-content">
	<%- page.content %>
	<%- partial('_partial/post/copyright.ejs') %>
</div>

<%- partial('_partial/post/hightlight.ejs') %>

<%- partial('_partial/post/guide.ejs') %>

<%- partial('_partial/post/comment.ejs') %>
