<div id="footer">
	<div>
		<% if(theme.footer.copyright.enable){ %>
			<% if(date(Date.now(), 'YYYY') > theme.footer.copyright.baseYear){ %>
				©<%- theme.footer.copyright.baseYear %><span>-</span><span><%- date(Date.now(), 'YYYY') %>
			<% } %>
			<% if(date(Date.now(), 'YYYY') <= theme.footer.copyright.baseYear){ %>
				©<%- theme.footer.copyright.baseYear %>
			<% } %>
			</span>
			<a href="<%= theme.footer.copyright.url %>">
				<%= config.author %>
			</a>
		<% } %>
		<% if (theme.footer.statistics.vercount.enable){ %>
			<span id="busuanzi_container_site_pv">
				<%= __("footer.pv") %>
				<span id="vercount_value_page_pv"></span>
			</span>
			<span id="busuanzi_container_site_uv">
				<%= __("footer.uv") %>
				<span id="vercount_value_site_pv"></span>
			</span>
		<% } %>
	</div>
	<%- theme.footer.content %>
</div>