<header id="header">
	<a id="title" href="<%= url_for() %>" class="logo">
		<img id="logo" src="<%= url_for(theme.favicon.light) %>" alt="logo"/>
		<%- config.title %>
	</a>

	<ul id="menu">
		<% if (theme.header.about.enable){ %>
			<li class="menu-item">
				<a href="<%= url_for('/about') %>" class="menu-item-link"><%= __("about.title") %></a>
			</li>
		<% } %>
		<% if (theme.header.tag.enable){ %>
			<li class="menu-item">
				<a href="<%= url_for('/tags') %>" class="menu-item-link"><%= __("tag.title") %></a>
			</li>
		<% } %>
		<% if (theme.header.category.enable){ %>
			<li class="menu-item">
				<a href="<%= url_for('/categories') %>" class="menu-item-link"><%= __("category.title") %></a>
			</li>
		<% } %>
		<% if (theme.header.github.enable){ %>
			<li class="menu-item">
				<a href="<%= theme.header.github.url %>" class="menu-item-link item-icon" target="_blank">
					<i class="fa fa-github fa-2x"></i>
				</a>
			</li>
		<% } %>
		<% if (theme.header.darkMode.enable){ %>
			<li class="menu-item dark-mode">
				<a href="#" class="menu-item-link item-icon">
					<i class="fa fa-moon-o fa-2x"></i>
				</a>
			</li>

			<script async>
				const localModel = localStorage.getItem("darkModel");
				const darkModel = !localModel ? 0 : localModel;

				const darkModeIcon = document.querySelector("#menu .dark-mode i");

				if (darkModel == 1) {
					darkModeIcon.classList.replace("fa-moon-o", "fa-sun-o");
					DarkReader.enable({
						brightness: 100,
						contrast: 90,
						sepia: 10,
					});
				}

				darkModeIcon.addEventListener("click", () => {
					const isMoon = darkModeIcon.classList.contains("fa-moon-o");
					darkModeIcon.classList.toggle("fa-moon-o", !isMoon);
					darkModeIcon.classList.toggle("fa-sun-o", isMoon);
					localStorage.setItem("darkModel", isMoon ? 1 : 0);
					isMoon ? DarkReader.enable({ brightness: 100, contrast: 90, sepia: 10 }) : DarkReader.disable();
				});
			</script>
		<% } %>
	</ul>
</header>

<script async>
	let startHeight = 0;
	window.addEventListener("scroll", () => {
		const { scrollY: endHeight } = window;
		const distance = endHeight - startHeight;
		startHeight = endHeight;
		document.querySelector("#header").style.display = distance > 0 && endHeight > 50 ? "none" : "";
	});
</script>