<div id="sidebar">
	<button id="sidebar-toggle" class="toggle" ><i class="fa fa-arrow-right " aria-hidden="true"></i></button>
	<div id="site-toc">
		<input id="search-input" class="search-input" type="search" placeholder="<%= __("search.placeholder") %>">
		<div id="tree">
			<%
				<!-- Convert the posts file path into a tree shaped directory structure -->
				const pathToTree = (treeNodes) => {
					var output = [];
					treeNodes.forEach(function(post){
						<!-- Only retain the directory and post title, not include time and domain name prefix -->
						var chain = post.slug.split("/");
						var currentNode = output;
						for (var j = 0; j < chain.length; j++) {
							if (chain[j] === '') {
								break;
							}
							var wantedNode = chain[j];
							var lastNode = currentNode;

							for (var k = 0; k < currentNode.length; k++) {
								if (currentNode[k].title == wantedNode) {
									currentNode = currentNode[k].children;
									break;
								}
							}

							if (lastNode == currentNode) {
								var newNode = currentNode[k] = { post: post, title: wantedNode, children: [] };
								currentNode = newNode.children;
							} else {
								delete currentNode.children
							}
						}
					});
					return output;
				}
			%>
			<%
				<!-- Recursively display the directory on the sidebar -->
				const showTree = (treeNodes) => {

					<!-- Sort by date in ASC order -->
					treeNodes.sort(function(a, b){
						let date ={
							a:new Date(a.post.date),
							b:new Date(b.post.date),
						}
						return (date.a - date.b);
					});

					<!-- Output HTML structure -->
					treeNodes.forEach(function(node) {
						if ( node.children == 0 ) {
							let fullUrl = node.post.permalink.slice(0,-1);
							const url = new URL( fullUrl);
							const linkTitle = decodeURIComponent(url.pathname);
			%>
							<ul>
								<li class="file<%- (is_post() && node.post._id == page._id) ? ' active' : '' %>">
									<a href="<%- url_for(node.post.path) %>" title="<%- linkTitle %>">
									<% if (theme.sidebar && theme.sidebar.usePostTitle) { %>
										<%- node.post.title || node.title %>
									<% } else { %>
										<%- node.title %>
									<% } %>
									</a>
								</li>
								<div class="article-toc" style="display: none;"></div>
							</ul>
			<%
						} else {
							let parent;
							let childrens = [];
							node.children.forEach(child => {
								const titleList = child.post.slug.split("/");
								const title = titleList.slice(-1)[0];
								if(node.title === title) {
									parent = child;
								}else{
									childrens.push(child);
								}
							});

							let pageTitle = page.path.slice(0,-1).split("/").slice(-1)[0];

							let linkTitle;
							if(parent && parent.post !== parent){
								let fullUrl = parent.post.permalink.slice(0,-1);
								const url = new URL( fullUrl);
								linkTitle = decodeURIComponent(url.pathname);
							} else{
								linkTitle = '';
							}
			%>
							<ul>
								<li class="directory">
			<% 						if(linkTitle){ %>
										<a class="directory <%- (node.title == pageTitle) ? 'active' : '' %>" href="<%- url_for(parent.post.path) %>" title="<%- linkTitle %>">
											<i class="fa fa-plus-square-o"></i>
											<%- node.title %>
										</a>
										<div class="article-toc" style="display: none;"></div>
			<% 						} else { %>
										<a title="<%- node.title %>" class="directory-empty">
											<i class="fa fa-plus-square-o"></i>
											<%- node.title %>
										</a>
			<% 						} %>
									<%- showTree(childrens) %>
								</li>
							</ul>
			<%
						}
					});
				}
				showTree(pathToTree(site.posts))
			%>
		</div>
	</div>
</div>