<% if (theme.post.copyright.enable && page.copyright !== false && page.path.indexOf("about") < 0) { %>
    <div class="copyright-box">
		<div class="license-box">
			<div class="license-header">
				<%
					const title  = page.title || page.slug.split("/")[page.slug.split("/").length-1];
					const subTitle = decodeURIComponent(url);
				%>
				<div class="license-title">
					<%- title %>
				</div>
				<div class="license-subTitle"><%- subTitle %></div>
			</div>
			<div class="license-meta">
				<% if (theme.post.copyright.author.enable && config.author) { %>
					<div class="license-meta-item">
						<div><%- __("post.copyright.author") %></div>
						<div>
							<a href="<%- theme.footer.copyright.url %>">
								<%- config.author %>
							</a>
						</div>
					</div>
				<% } %>
				<% if (theme.post.copyright.postDate.enable && page.date) { %>
					<div class="license-meta-item license-meta-date">
					<div><%- __('post.copyright.posted') %></div>
					<div><%= full_date(page.date, theme.post.copyright.postDate.format || 'LL') %></div>
					</div>
				<% } %>
				<% if (theme.post.copyright.updateDate.enable && page.updated) { %>
					<div class="license-meta-item license-meta-date">
					<div><%- __('post.copyright.updated') %></div>
					<div><%= full_date(page.updated, theme.post.copyright.updateDate.format || 'LL') %></div>
					</div>
				<% } %>
				<%
					let license = theme.post.copyright.license;
				%>
				<% if (license) { %>
					<div class="license-meta-item">
					<div><%- __('post.copyright.licensed') %></div>
					<div>
						<% if (['BY', 'BY-SA', 'BY-ND', 'BY-NC', 'BY-NC-SA', 'BY-NC-ND'].indexOf(license) !== -1) { %>
						<% var items = license.split('-') %>
						<% for (var idx = 0; idx < items.length; idx++) { %>
							<a class="print-no-link" target="_blank" href="https://creativecommons.org/licenses/<%= license.toLowerCase() %>/4.0/">
								<span class="hint--top hint--rounded" aria-label="<%- __('post.copyright.' + items[idx]) %>">
									<%- __('post.copyright.' + items[idx]) %>
								</span>
							</a>
						<% } %>
						<% } else if (license === 'ZERO') {  %>
							<a class="print-no-link" target="_blank" href="https://creativecommons.org/publicdomain/zero/1.0/">
								<span class="hint--top hint--rounded" aria-label="<%- __('post.copyright.ZERO') %>">
									<%- __('post.copyright.ZERO') %>
								</span>
							</a>
						<% } else { %>
							<%- license %>
						<% } %>
					</div>
					</div>
				<% } %>
			</div>
		</div>
	</div>
<% } %>